.cart-widget {
    display: flex;

    justify-content: center;
    align-items: center;

    .cart-icon {
        height: 3em;
    }

    .cart-widget-count {
        margin-top: 1em !important;
        padding: 0.2em;
    }
}

.cart-page {
    width: 100%;
    min-height: 100svh;

    text-align: center;

    background-color: yellow;
}