@use "./cartwidget/_cartwidget" as *;
@use "./marquee/_marque" as *;

a {
    color: black;

    text-decoration: none;
}

ul {
    list-style-type: none;

    padding: 0 !important;
}

.nav {
    width: 100%;
    min-height: 5vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: red;

    .nav-heading {
        width: 100%;
        
        z-index: 10;
    
        text-align: center;
    
        background-color: blue;
    }

    .nav-bar {
        width: 100%;
    
        background-color: green;

        .ul {
            width: 100%;
            
            margin: 1em 0 1em 0;
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
            justify-content: center;
            text-align: center;

            .li {
                margin: 0 12px 0 12px;
            }
        }
    }
}

.cart-widget {
    position: absolute;

    top: 2.5em;
    right: 1em;

    z-index: 11;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    padding: 0 !important;

    font-family: system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        "Noto Sans",
        "Liberation Sans",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji" !important;
    font-weight: 400 !important;
    font-size: 0.95em !important;

    text-transform: lowercase !important;

    line-height: 0 !important;
    vertical-align: 0  !important;
    
    color:#000 !important ;

}

.category-button {
    border: 0;
    background-color: #fff;
}