@import "./cartwidget/_cartwidget";
@import "./marquee/_marque";

a {
    color: black;

    text-decoration: none;
}

ul {
    list-style-type: none;

    padding: 0 !important;
}

.nav {
    width: 100%;
    min-height: 5vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: red;

    .nav-heading {
        width: 100%;
        
        z-index: 10;
    
        text-align: center;
    
        background-color: blue;
    }

    .nav-bar {
        width: 100%;
    
        background-color: green;

        .ul {
            width: 100%;
            
            margin: 1em 0 1em 0;
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
            justify-content: center;
            text-align: center;

            .li {
                margin: 0 12px 0 12px;
            }
        }
    }
}


.cart-widget {
    position: absolute;

    top: 2.5em;
    right: 1em;

    z-index: 11;
}