.card {
    width: 22.5rem;

    display: flex;

    justify-content: center;
    align-items: center;

    border: 0;

    background-color: rgba($color: #fff, $alpha: 0.0);


    .card-img {
        height: 20rem;
        width: 14rem;

        border-radius: 0;
    }

    .card-body {
        width: 14rem;
    }
}